First Import API using example

In [35]:
import pandas as pd
import numpy as np
from sodapy import Socrata

In [1]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.seattle.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("tmmm-ytt6", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results_df.head(5)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,6,1,Horizon,2013,"Sampson, Sally, 1955-",BOOK,c2003.,"Simon & Schuster,",Dogs Food Recipes,"Throw me a bone : 50 healthy, canine taste-tes...",Physical
1,6,2,OverDrive,2013,Georgette Heyer,EBOOK,2009,Sourcebooks,"Fiction, Historical Fiction, Mystery",The Unfinished Clue: Country House Mysteries S...,Digital
2,6,1,Freegal,2013,Alicia Keys;Alicia Keys featuring Bimbo,SONG,NaN,NaN,NaN,Karma,Digital
3,6,4,Horizon,2013,"Blos, Joan W.",BOOK,1991.,"Morrow Junior Books,",Brown Margaret Tobin 1867 1932 Juvenile litera...,The heroine of the Titanic : a tale both true ...,Physical
4,6,14,Horizon,2013,"Benton, Jim",BOOK,c2012.,"Scholastic,","Schools Fiction, Mathematics Juvenile fiction,...",School. Hasn't this gone on long enough? / by ...,Physical

In [78]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.seattle.gov", None)

#Example authenticated client (needed for non-public datasets):
client = Socrata('data.seattle.gov',
                  app_token='h5vKraDOpWIZy3vvPhZ6hBQab')

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get('tmmm-ytt6', where='checkoutyear>=2016', limit=1000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [23]:
results_df.head(3)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,2,OverDrive,2019,Frances E. Jensen,AUDIOBOOK,2015,HarperCollins Publishers Inc.,"Nonfiction, Psychology",The Teenage Brain (Enchanced): A Neuroscientis...,Digital
1,12,3,Horizon,2019,"Scarry, Richard",BOOK,2015.,"Random House,","Fire fighters Juvenile fiction, Animals Juveni...",Richard Scarry's Smokey the fireman.,Physical
2,12,1,Horizon,2019,"Despentes, Virginie, 1969-",BOOK,janvier 2018.,Grasset : Les Éditions Graset & Fasquelle : Li...,"Music stores France Paris Fiction, Businessmen...",Vernon Subutex : roman. Tome 1 / Virginie Desp...,Physical

In [79]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
checkoutmonth      1000000 non-null object
checkouts          1000000 non-null object
checkouttype       1000000 non-null object
checkoutyear       1000000 non-null object
creator            849050 non-null object
materialtype       1000000 non-null object
publicationyear    901524 non-null object
publisher          934634 non-null object
subjects           929468 non-null object
title              1000000 non-null object
usageclass         1000000 non-null object
dtypes: object(11)
memory usage: 83.9+ MB

In [26]:
results[3]

{'usageclass': 'Physical',
 'checkouttype': 'Horizon',
 'materialtype': 'BOOK',
 'checkoutyear': '2019',
 'checkoutmonth': '12',
 'checkouts': '1',
 'title': 'The lost Gospel of Mary : the Mother of Jesus in three ancient texts / [compiled by] Frederica Mathewes-Green.',
 'subjects': 'Mary Blessed Virgin Saint',
 'publisher': 'Paraclete Press,',
 'publicationyear': '[2007]'}

In [31]:
results_df.head(1)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,2,OverDrive,2019,Frances E. Jensen,AUDIOBOOK,2015,HarperCollins Publishers Inc.,"Nonfiction, Psychology",The Teenage Brain (Enchanced): A Neuroscientis...,Digital

In [83]:
checkouts_df = results_df.astype({'checkouts': 'int64'})

In [97]:
grouped_checkouts= checkouts_df[['usageclass', 'checkoutyear', 'checkouts']].groupby(['usageclass', 'checkoutyear'])

In [103]:
grouped_checkouts.max()

                         checkouts
usageclass checkoutyear
Digital    2017                385
Physical   2017                988

In [93]:
grouped_materials= checkouts_df[['usageclass', 'checkouttype','materialtype', 'checkouts']].groupby(['usageclass', 'checkouttype', 'materialtype'])

In [99]:
grouped_materials.sum()

                                                                    checkouts
usageclass checkouttype materialtype
Digital    Freegal      SONG                                            75957
           Hoopla       COMIC                                           13171
                        MOVIE                                           18743
                        MUSIC                                           18565
                        TELEVISION                                      12353
           OverDrive    AUDIOBOOK                                      279533
                        EBOOK                                          580916
                        VIDEO                                             948
           Zinio        MAGAZINE                                        21965
Physical   Horizon      ATLAS                                             127
                        BOOK                                          1416543
                        CR                                               1501
                        ER                                                974
                        ER, NONPROJGRAPH                                    9
                        ER, PRINT                                           5
                        ER, REGPRINT                                        4
                        ER, SOUNDDISC                                     469
                        ER, VIDEODISC                                     322
                        FLASHCARD, SOUNDDISC                               18
                        GLOBE                                              28
                        KIT                                                13
                        LARGEPRINT                                        155
                        MAP                                               124
                        MICROFORM                                           1
                        MIXED                                            6579
                        MUSIC                                            2784
                        MUSICSNDREC                                        25
                        NOTATEDMUSIC                                        7
                        REGPRINT                                         3233
                        REGPRINT, SOUNDDISC                                27
                        REGPRINT, VIDEOREC                                 16
                        REMOTESEN                                           1
                        SOUNDCASS                                          37
                        SOUNDCASS, SOUNDDISC                                1
                        SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC          6
                        SOUNDDISC                                      207275
                        SOUNDDISC, SOUNDREC                                10
                        SOUNDDISC, VIDEODISC                             2335
                        SOUNDREC                                         1440
                        UNSPECIFIED                                        85
                        VIDEOCART                                          11
                        VIDEOCASS                                         149
                        VIDEOCASS, VIDEODISC                                9
                        VIDEODISC                                      628934
                        VIDEOREC                                           52
                        VISUAL                                             31