First Import API using example

In [35]:
import pandas as pd
import numpy as np
from sodapy import Socrata

In [1]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.seattle.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("tmmm-ytt6", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results_df.head(5)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,6,1,Horizon,2013,"Sampson, Sally, 1955-",BOOK,c2003.,"Simon & Schuster,",Dogs Food Recipes,"Throw me a bone : 50 healthy, canine taste-tes...",Physical
1,6,2,OverDrive,2013,Georgette Heyer,EBOOK,2009,Sourcebooks,"Fiction, Historical Fiction, Mystery",The Unfinished Clue: Country House Mysteries S...,Digital
2,6,1,Freegal,2013,Alicia Keys;Alicia Keys featuring Bimbo,SONG,NaN,NaN,NaN,Karma,Digital
3,6,4,Horizon,2013,"Blos, Joan W.",BOOK,1991.,"Morrow Junior Books,",Brown Margaret Tobin 1867 1932 Juvenile litera...,The heroine of the Titanic : a tale both true ...,Physical
4,6,14,Horizon,2013,"Benton, Jim",BOOK,c2012.,"Scholastic,","Schools Fiction, Mathematics Juvenile fiction,...",School. Hasn't this gone on long enough? / by ...,Physical

In [22]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.seattle.gov", None)

#Example authenticated client (needed for non-public datasets):
client = Socrata('data.seattle.gov',
                  app_token='h5vKraDOpWIZy3vvPhZ6hBQab')

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get('tmmm-ytt6', where='checkoutyear>2018', limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [23]:
results_df.head(3)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,2,OverDrive,2019,Frances E. Jensen,AUDIOBOOK,2015,HarperCollins Publishers Inc.,"Nonfiction, Psychology",The Teenage Brain (Enchanced): A Neuroscientis...,Digital
1,12,3,Horizon,2019,"Scarry, Richard",BOOK,2015.,"Random House,","Fire fighters Juvenile fiction, Animals Juveni...",Richard Scarry's Smokey the fireman.,Physical
2,12,1,Horizon,2019,"Despentes, Virginie, 1969-",BOOK,janvier 2018.,Grasset : Les Éditions Graset & Fasquelle : Li...,"Music stores France Paris Fiction, Businessmen...",Vernon Subutex : roman. Tome 1 / Virginie Desp...,Physical

In [25]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
checkoutmonth      2000 non-null object
checkouts          2000 non-null object
checkouttype       2000 non-null object
checkoutyear       2000 non-null object
creator            1758 non-null object
materialtype       2000 non-null object
publicationyear    1994 non-null object
publisher          1994 non-null object
subjects           1990 non-null object
title              2000 non-null object
usageclass         2000 non-null object
dtypes: object(11)
memory usage: 172.0+ KB

In [26]:
results[3]

{'usageclass': 'Physical',
 'checkouttype': 'Horizon',
 'materialtype': 'BOOK',
 'checkoutyear': '2019',
 'checkoutmonth': '12',
 'checkouts': '1',
 'title': 'The lost Gospel of Mary : the Mother of Jesus in three ancient texts / [compiled by] Frederica Mathewes-Green.',
 'subjects': 'Mary Blessed Virgin Saint',
 'publisher': 'Paraclete Press,',
 'publicationyear': '[2007]'}

In [31]:
results_df.head(1)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,2,OverDrive,2019,Frances E. Jensen,AUDIOBOOK,2015,HarperCollins Publishers Inc.,"Nonfiction, Psychology",The Teenage Brain (Enchanced): A Neuroscientis...,Digital

In [50]:
grouped.iloc[0:3]

                                                                  checkouts
usageclass checkoutmonth
Digital    12             2213111522221173282211441131112124131171234311...
Physical   12             3111512122131111831111124147211416117114231321...

In [60]:
new_df = results_df.astype({'checkouts': 'int64'})

In [61]:
grouped= new_df[['usageclass', 'checkoutmonth', 'checkouts']].groupby(['usageclass', 'checkoutmonth'])

In [62]:
grouped.sum()

                          checkouts
usageclass checkoutmonth
Digital    12                  3157
Physical   12                  4293