First Import API using example

In [35]:
import pandas as pd
import numpy as np
from sodapy import Socrata

In [1]:
# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.seattle.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.seattle.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("tmmm-ytt6", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
results_df.head(5)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,6,1,Horizon,2013,"Sampson, Sally, 1955-",BOOK,c2003.,"Simon & Schuster,",Dogs Food Recipes,"Throw me a bone : 50 healthy, canine taste-tes...",Physical
1,6,2,OverDrive,2013,Georgette Heyer,EBOOK,2009,Sourcebooks,"Fiction, Historical Fiction, Mystery",The Unfinished Clue: Country House Mysteries S...,Digital
2,6,1,Freegal,2013,Alicia Keys;Alicia Keys featuring Bimbo,SONG,NaN,NaN,NaN,Karma,Digital
3,6,4,Horizon,2013,"Blos, Joan W.",BOOK,1991.,"Morrow Junior Books,",Brown Margaret Tobin 1867 1932 Juvenile litera...,The heroine of the Titanic : a tale both true ...,Physical
4,6,14,Horizon,2013,"Benton, Jim",BOOK,c2012.,"Scholastic,","Schools Fiction, Mathematics Juvenile fiction,...",School. Hasn't this gone on long enough? / by ...,Physical

In [78]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
#client = Socrata("data.seattle.gov", None)

#Example authenticated client (needed for non-public datasets):
client = Socrata('data.seattle.gov',
                  app_token='h5vKraDOpWIZy3vvPhZ6hBQab')

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get('tmmm-ytt6', where='checkoutyear>=2016', limit=1000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [23]:
results_df.head(3)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,2,OverDrive,2019,Frances E. Jensen,AUDIOBOOK,2015,HarperCollins Publishers Inc.,"Nonfiction, Psychology",The Teenage Brain (Enchanced): A Neuroscientis...,Digital
1,12,3,Horizon,2019,"Scarry, Richard",BOOK,2015.,"Random House,","Fire fighters Juvenile fiction, Animals Juveni...",Richard Scarry's Smokey the fireman.,Physical
2,12,1,Horizon,2019,"Despentes, Virginie, 1969-",BOOK,janvier 2018.,Grasset : Les Éditions Graset & Fasquelle : Li...,"Music stores France Paris Fiction, Businessmen...",Vernon Subutex : roman. Tome 1 / Virginie Desp...,Physical

In [79]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 11 columns):
checkoutmonth      1000000 non-null object
checkouts          1000000 non-null object
checkouttype       1000000 non-null object
checkoutyear       1000000 non-null object
creator            849050 non-null object
materialtype       1000000 non-null object
publicationyear    901524 non-null object
publisher          934634 non-null object
subjects           929468 non-null object
title              1000000 non-null object
usageclass         1000000 non-null object
dtypes: object(11)
memory usage: 83.9+ MB

In [26]:
results[3]

{'usageclass': 'Physical',
 'checkouttype': 'Horizon',
 'materialtype': 'BOOK',
 'checkoutyear': '2019',
 'checkoutmonth': '12',
 'checkouts': '1',
 'title': 'The lost Gospel of Mary : the Mother of Jesus in three ancient texts / [compiled by] Frederica Mathewes-Green.',
 'subjects': 'Mary Blessed Virgin Saint',
 'publisher': 'Paraclete Press,',
 'publicationyear': '[2007]'}

In [31]:
results_df.head(1)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,2,OverDrive,2019,Frances E. Jensen,AUDIOBOOK,2015,HarperCollins Publishers Inc.,"Nonfiction, Psychology",The Teenage Brain (Enchanced): A Neuroscientis...,Digital

In [83]:
checkouts_df = results_df.astype({'checkouts': 'int64'})

In [104]:
grouped_checkouts= checkouts_df[['usageclass', 'checkoutyear', 'checkoutmonth', 'checkouts']].groupby(['usageclass','checkoutmonth', 'checkoutyear'])

In [106]:
grouped_checkouts.sum()

                                       checkouts
usageclass checkoutmonth checkoutyear
Digital    10            2017             236779
           11            2017             234710
           12            2017             251321
           8             2017              71962
           9             2017             227379
Physical   10            2017             543781
           11            2017             530539
           12            2017             503372
           8             2017             168349
           9             2017             527299

In [93]:
grouped_materials= checkouts_df[['usageclass', 'checkouttype','materialtype', 'checkouts']].groupby(['usageclass', 'checkouttype', 'materialtype'])

In [99]:
grouped_materials.sum()

                                                                    checkouts
usageclass checkouttype materialtype
Digital    Freegal      SONG                                            75957
           Hoopla       COMIC                                           13171
                        MOVIE                                           18743
                        MUSIC                                           18565
                        TELEVISION                                      12353
           OverDrive    AUDIOBOOK                                      279533
                        EBOOK                                          580916
                        VIDEO                                             948
           Zinio        MAGAZINE                                        21965
Physical   Horizon      ATLAS                                             127
                        BOOK                                          1416543
                        CR                                               1501
                        ER                                                974
                        ER, NONPROJGRAPH                                    9
                        ER, PRINT                                           5
                        ER, REGPRINT                                        4
                        ER, SOUNDDISC                                     469
                        ER, VIDEODISC                                     322
                        FLASHCARD, SOUNDDISC                               18
                        GLOBE                                              28
                        KIT                                                13
                        LARGEPRINT                                        155
                        MAP                                               124
                        MICROFORM                                           1
                        MIXED                                            6579
                        MUSIC                                            2784
                        MUSICSNDREC                                        25
                        NOTATEDMUSIC                                        7
                        REGPRINT                                         3233
                        REGPRINT, SOUNDDISC                                27
                        REGPRINT, VIDEOREC                                 16
                        REMOTESEN                                           1
                        SOUNDCASS                                          37
                        SOUNDCASS, SOUNDDISC                                1
                        SOUNDCASS, SOUNDDISC, VIDEOCASS, VIDEODISC          6
                        SOUNDDISC                                      207275
                        SOUNDDISC, SOUNDREC                                10
                        SOUNDDISC, VIDEODISC                             2335
                        SOUNDREC                                         1440
                        UNSPECIFIED                                        85
                        VIDEOCART                                          11
                        VIDEOCASS                                         149
                        VIDEOCASS, VIDEODISC                                9
                        VIDEODISC                                      628934
                        VIDEOREC                                           52
                        VISUAL                                             31

In [ ]:
results = client.get('tmmm-ytt6', select="where='checkoutyear>=2016', limit=1000000)

In [107]:
results_df.head(1)

,checkoutmonth,checkouts,checkouttype,checkoutyear,creator,materialtype,publicationyear,publisher,subjects,title,usageclass
0,12,1,Horizon,2017,"Newman, Randy",SOUNDDISC,[2011],"Nonesuch,",Popular music 2011 2020,The Randy Newman songbook. Vol. 2.,Physical

In [117]:
hyp_results = client.get('tmmm-ytt6', select="usageclass, checkoutyear, checkoutmonth, checkouts, checkouttype, materialtype, title", where='checkoutyear>=2016', limit = 30000000)

In [119]:
len(hyp_results)

11501672

In [ ]:
# for year in years:

#     hyp_results = client.get('tmmm-ytt6', select="usageclass, checkoutyear, checkoutmonth, checkouts, checkouttype, materialtype, title", where='checkoutyear>=year', limit = 30000000)

#     # check to first see if the document is already in our database, if not, store it.
#     try:
#         j = r.json()
#         if not collection.find_one(j['parse']):
#             print("Writing The Article: {}".format(j['parse']['title']))
#             collection.insert_one(j['parse'])
#     except Exception as e:
#         print(e)

In [128]:
hyp_results[0]

{'usageclass': 'Digital',
 'checkoutyear': '2016',
 'checkoutmonth': '10',
 'checkouts': '1',
 'checkouttype': 'OverDrive',
 'materialtype': 'EBOOK',
 'title': 'Slim by Design: Mindless Eating Solutions for Everyday Life'}

In [127]:
checkouts = hyp_results

In [123]:
library_data = pd.DataFrame.from_records(hyp_results)

In [124]:
# from pymongo import MongoClient- Tried to import into Mongo took forever



# client = MongoClient('localhost', 27017)
# db = client.library
# checkouts = db.library

# for row in hyp_results:
#     checkouts.insert_one(row)

In [131]:
#Saved to a csv 
library_data.to_csv('~/galvanize/capstone/capstone_one/library_data.csv', compression='zip')

In [135]:
library_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11501672 entries, 0 to 11501671
Data columns (total 7 columns):
checkoutmonth    object
checkouts        object
checkouttype     object
checkoutyear     object
materialtype     object
title            object
usageclass       object
dtypes: object(7)
memory usage: 614.3+ MB

In [136]:
library_data.describe()

,checkoutmonth,checkouts,checkouttype,checkoutyear,materialtype,title,usageclass
count,11501672,11501672,11501672,11501672,11501672,11501672,11501672
unique,12,705,5,5,61,1009432,2
top,1,1,Horizon,2017,BOOK,Episode 1,Physical
freq,1162104,5636072,7280620,2820433,5235798,385,7280620

In [137]:
ld = library_data.astype({'checkouts': 'int64', 
                          'checkoutmonth': 'int', 
                          'title': 'str', 
                          'materialtype': 'str', 
                          'usageclass': 'str',
                          'checkoutyear': 'int',
                          'checkouttype': 'str' })

In [138]:
ld.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11501672 entries, 0 to 11501671
Data columns (total 7 columns):
checkoutmonth    int64
checkouts        int64
checkouttype     object
checkoutyear     int64
materialtype     object
title            object
usageclass       object
dtypes: int64(3), object(4)
memory usage: 614.3+ MB

In [155]:

ld_usage_class = ld[['usageclass','checkouts']].groupby(['usageclass']).sum()

In [166]:
total_checkouts = ld_usage_class.sum()

In [177]:
ld_usage_class['Total Checkouts'] = total_checkouts[0]

In [172]:
ld_usage_class.drop(labels='mean', axis=1, inplace=True)

In [178]:
ld_usage_class

            checkouts  Total Checkouts
usageclass
Digital      12629378       38798575.0
Physical     26169197       38798575.0

In [174]:
total_checkouts = ld_usage_class.sum()

In [176]:
total_checkouts[0]

38798575.0

In [180]:
ld_usage_class[''] = ld_usage_class['checkouts'] / ld_usage_class['Total Checkouts']

In [181]:
ld_usage_class

            checkouts  Total Checkouts      mean
usageclass
Digital      12629378       38798575.0  0.325511
Physical     26169197       38798575.0  0.674489

In [193]:
ld_2020 = ld[ld['checkoutyear']==2020]

In [194]:
ld_March_2020 = ld_2020[ld_2020['checkoutmonth']==3]

In [196]:
ld_March_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201077 entries, 10861851 to 11063275
Data columns (total 7 columns):
checkoutmonth    201077 non-null int64
checkouts        201077 non-null int64
checkouttype     201077 non-null object
checkoutyear     201077 non-null int64
materialtype     201077 non-null object
title            201077 non-null object
usageclass       201077 non-null object
dtypes: int64(3), object(4)
memory usage: 12.3+ MB