In [2]:
import pandas as pd
import numpy as np
from sodapy import Socrata
import matplotlib.pyplot as plt 
import scipy.stats as stats

%matplotlib inline

In [8]:

client = Socrata('data.seattle.gov',
                  app_token='h5vKraDOpWIZy3vvPhZ6hBQab')

results = client.get('tmmm-ytt6', select='materialtype, subjects, checkouts, checkoutyear, checkoutmonth', where='checkoutyear>=2019 AND usageclass="Physical"', limit = 10000000)
physical=pd.DataFrame.from_records(results)

In [9]:
physical = physical.astype({'checkouts': 'int64','checkoutmonth': 'int64','checkoutyear': 'int64' }, inplace=True)

physical[['checkoutyear','checkoutmonth','checkouts']].groupby(['checkoutyear','checkoutmonth']).sum()

                            checkouts
checkoutyear checkoutmonth
2019         1                 528245
             2                 451582
             3                 488868
             4                 487541
             5                 467181
             6                 484598
             7                 514213
             8                 494291
             9                 468815
             10                479670
             11                464834
             12                438486
2020         1                 492655
             2                 462416
             3                 295395

In [10]:
physical.to_csv('~/galvanize/capstone/capstone_one/physical.csv')